<div class="upload-screen container">
  <div class="row">
    <div class="col-xs-12 content">
      <button type="button" class="btn btn-success" (click)="onChooseFileClick($event)">Choose an image</button>
      <button type="button" class="btn btn-success" [disabled]="!data" (click)="onUploadClick()">Upload image</button>
      <input type="file" name="file" accept="image/*" #uploadFileField (change)="onAttachFile()">
      <div *ngIf="data" class="img-container">
        <img [src]="data" width="200" />
      </div>
    </div>
  </div>
</div>
