<div class="upload-screen container">
  <div class="row">
    <div class="col-xs-12 content">
      <button type="button" class="btn btn-success" (click)="onChooseFileClick($event)">Choose an image</button>
      <button type="button" class="btn btn-success" [disabled]="!data" (click)="onUploadClick()">Upload image</button>
      <input type="file" name="file" accept="image/*" #uploadFileField (change)="onAttachFile()">
      <div *ngIf="data" class="img-container">
        <img [src]="data" width="200" />
      </div>
    </div>
  </div>
</div>
<ng-template #confirmationWindow>
  <app-confirmation
    (onCancelClick)="closeDialog()"
    (onConfirmationClick)="confirmDeletion()"
    confirmBtnText="Delete"
    cancelBtnText="Cancel"
    confirmationText="Are you sure you want to delete this image?">
  </app-confirmation>
</ng-template>
