<div class="active-screen" *ngIf="images.length > 0; else noImgBlock">
  <div class="row">
    <div *ngFor="let img of images" [ngClass]="{'active': activeImage && activeImage.id === img.id}" (click)="activeImage = img" class="img-container">
      <img [src]="serverAddress + '' + img.relative_path_to_thumbnail" />
      <div class="img-text">
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="activeImage" class="buttons-holder">
      <a (click)="onDeleteClick()">
        <mat-icon>delete</mat-icon>
      </a>
      <a #anchor [ngClass]="{inactive: downloadInProgress}">
        <mat-icon (click)="onDownloadClick(activeImage.id, activeImage.original_name)">
          file_download
        </mat-icon>
      </a>
    </div>
  </div>
</div>
<ng-template #noImgBlock>
  <div class="no-img-info">No photos to display</div>
</ng-template>
<ng-template #confirmationWindow>
    <app-confirmation
      (onCloseClick)="closeDialog()"
      (onConfirmationClick)="confirmDeletion()"
      confirmBtnText="Delete"
      closeBtnText="Cancel"
      confirmationText="Are you sure you want to delete this image?">
    </app-confirmation>
</ng-template>
