<div class="active-screen" *ngIf="images.length > 0; else noImgBlock">
  <div class="row">
    <div *ngFor="let img of images" [ngClass]="{'active': activeImage && activeImage.id === img.id}" (click)="activeImage = img" class="img-container">
      <img [src]="serverAddress + '' + img.relative_path_to_thumbnail" />
      <div class="img-text">
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
  <div *ngIf="activeImage" class="buttons-holder">
    <a (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
    </a>
    <a [ngClass]="{'inactive': wasImageDownload()}" [href]="serverAddress + '' + activeImage.relative_path_to_original_image" [download]="activeImage.original_name" (click)="onDownloadClick($event)">
      <mat-icon>file_download</mat-icon>
    </a>
  </div>
</div>
<ng-template #noImgBlock>
  <div class="no-img-info">No photos to display</div>
</ng-template>
