<div class="delete-screen" *ngIf="images.length > 0; else noImgBlock">
  <div class="row">
    <div *ngFor="let img of images" [ngClass]="{'active': activeImage && activeImage.id === img.id}" (click)="activeImage = img" class="img-container">
      <img *ngIf="img.url" [src]="img.url" />
      <div class="img-text">
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="activeImage" class="buttons-holder">
      <a (click)="onRestoreClick()">
        <mat-icon>restore</mat-icon>
      </a>
    </div>
  </div>
</div>
<ng-template #noImgBlock>
  <div class="no-img-info">No photos to display</div>
</ng-template>
