<div class="header">
  <div class="content">
    My library
  </div>
</div>
<div class="container">
  <div class="nav-container">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" [ngClass]="{'active': activeItem === 1}" (click)="onMenuItemClick(1)">
        Active
      </button>
      <button type="button" class="btn btn-default" [ngClass]="{'active': activeItem === 2}" (click)="onMenuItemClick(2)">
        Deleted
      </button>
      <button type="button" class="btn btn-default" [ngClass]="{'active': activeItem === 3}" (click)="onMenuItemClick(3)">
        Upload
      </button>
    </div>
  </div>
  <div [ngSwitch]="activeItem">
    <app-active-screen *ngSwitchCase="1" ></app-active-screen>
    <app-delete-screen *ngSwitchCase="2"></app-delete-screen>
    <app-upload-screen *ngSwitchCase="3"></app-upload-screen>
  </div>
</div>

