.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.container {
  margin-bottom: 50px;
}

.img-container {
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  margin: 20px;
  border: 1px solid rgb(225, 226, 232);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 1px 6px 2px #e1e2e8;
}

.img-text {
  background-color: #fff;
  color: rgb(103, 111, 138);
  p {
    margin-top: 20px;
  }
}

.active {
  border-color: #000;
}

.buttons-holder {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgb(79, 89, 124);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;

    &.inactive {
      color: #BDBDBD;
      cursor: not-allowed;
    }
  }
}

.nav-container {
  margin: 30px 0;
  text-align: center;
}

.no-img-info {
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
}

.header {
  background-color: #fff;
  height: 75px;
  .content {
    color: rgb(72, 80, 111);
    font-size: 24px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .nav-container {
    text-align: right;
  }
  .header {
    height: 100px;
    .content {
      padding-top: 60px;
      width: 750px;
    }
  }
  .row {
    justify-content: flex-start;
  }
  .buttons-holder {
    width: 750px;
    left: unset;
  }
}

@media (min-width: 992px) {
  .header {
    .content {
      width: 970px;
    }
  }
  .buttons-holder {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 150px;
    .content {
      padding-top: 80px;
      width: 1170px;
    }
  }
  .buttons-holder {
    width: 1170px;
  }
}
